<div class="container">
  <div class="e-card e-card-horizontal">
      <div class="e-card-image"></div>  
      <div class="e-card-stacked"> 
      <div class="e-card-header">
          <div class="e-card-header-image profile"></div>
          <div class="e-card-header-caption">
              <div class="e-card-title">Laura Chauhan</div>
              <div class="e-card-sub-title">Sales Coordinator</div>
          </div>
          </div>
      <div class="e-card-separator"></div>
      <div class="e-card-content">
          Laura Chauhan received a BA in psychology from the University of Washington.
          She has also completed a course in Business French. She reads and writes French.  
      </div>
      <div class="e-card-actions e-card-vertical">
          <button class="e-card-btn">Like</button>
          <button class="e-card-btn">Subscribe</button>
      </div>
     </div>  
  </div>
</div>